@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/AppLayout.cshtml";
}


<h2 class="text-danger"><i class="fas fa-exclamation-triangle"></i> Access Denied</h2>
<p class="text-white">You do not have permission to view this page.</p>
<a href="javascript:history.back()" class="btn btn-link mt-2">Go Back</a>

