@model User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<!-- Section: Design Block -->
    <div class="container d-flex align-items-center justify-content-between">
        <div class="w-50 d-flex flex-column align-items-center justify-content-center">
            <h1 class="my-5 display-3 fw-bold ls-tight text-center" style="color:white; animate-div">
                No Lines, <br />
                <span style="color:darkgoldenrod !important; animate-div !important;" class="text-primary">No Worries.</span>
            </h1>
            <p style="color: white !important; animate-div">
                Why Wait? Book Your Table Now!
                Skip the lines and guarantee your spot at one of the most
                sought-after restaurants in town. It's quick and easy!
                Call now or reserve online and get ready to savor every bite!
            </p>
        </div>
        <div class="w-50 card bg-glass col-lg-6 mb-5 mb-lg-0" style="opacity:75%; margin-top:10%; margin-left:5%;">
            <div class="card-body px-4 py-5 px-md-5" style="animation:ease-in-out">
                <p style="text-align:center; font-weight:bold;d">Input your credentials below.</p>
                <form method="post" asp-controller="Account" asp-action="LoginUser">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="Email" style="margin-top:10px;">
                            Email address
                            <span style="color: red;">*</span>
                        </label>
                        <input asp-for="Email" required type="email" id="Email" class="form-control" style="border-radius:20px;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="Password">
                            Password
                            <span style="color:red">*</span>
                        </label>
                        <div style="position: relative;">
                            <input asp-for="Password" required type="password" id="Password" class="form-control" style="border-radius:20px; padding-right: 40px;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                            <input type="checkbox" id="showPassword" onclick="togglePassword()" style="display: none;" />
                            <label for="showPassword" style="position: absolute; top: 10px; right: 10px; cursor: pointer;">
                                <i class="fas fa-eye" id="eyeIcon" style="font-size: 20px;"></i>
                            </label>
                        </div>
                    </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>  @* Validation summary *@

                    <div style="width: 100%; display: flex; justify-content: center;">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4"
                                style="width:243px; border-radius:20px; height:48px; margin-top:20px;">
                            Submit
                        </button>
                    </div>
                    <!---
                        <div class="text-center">
                            <p>or sign up with:</p>
                            <form method="post" asp-controller="CustomerLogin" asp-action="Login">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i> Google
                                </button>
                            </form>
                        </div>
                        -->
                </form>

                

                <div style="width: 100%; display: flex; justify-content: center; margin-top:20px;">
                    <p>
                        Don't have an account yet?
                    <a style="text-align:center; color: darkgoldenrod;" class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Click here</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<!-- Section: Design Block -->
